.collapse-button {
    color: white;
    background-color: #FF6060;
    border-radius: 5px;
    border: none;
    width: 100%;
    text-align: left;
    padding: 6.5px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.collapse-button_text {
    font-weight: 500;
    font-size: 24px;
}
.collapse-button_arrow { 
    transition: transform 300ms ease-out;
    width: 24px;
}   
.collapse-button_arrow.open {
    transform: rotate(180deg);
    transition: transform 300ms ease-in-out;
}
.collapse-content {
    background-color: #F6F6F6;
    padding: 27px 27px 19px 18px ;
}
.collapse-content_text {
    color: #FF6060;
    font-weight: 400;
    font-size: 24px;
}

.elements {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 600px) {
    .collapse-button {
        padding: 5px 12px;
    }
    .collapse-button_text  {
        font-size: 13px;
    }
    .collapse-content_text  {
        font-size: 12px;
    }
    .collapse-button_arrow { 
        width: 16px;
    }   
    .collapse-content {
        padding: 17px 7px 2px 11.5px;
    }
}