.Logement-introduction,
.Logement-details {
    display: flex;
    justify-content: space-between;
    color: #FF6060;
}

.carousel {
    margin-bottom: 70px;
}
.Logement-introduction {
    display: flex;
    justify-content: space-between;
}
.Logement-introduction_infos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 500;
    padding-bottom: 20px;
}
.Logement-introduction_infos-title {
    font-size: 36px;
    font-weight: 500;
    margin: 0;
}
.Logement-introduction_infos-location {
    font-size: 18px;
}

.Logement-introduction_hostnrate {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}
.Logement-introduction_host {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
} 
.Logement-introduction_host-name {
    text-align: right;
    display: block;
    font-size: 18px;
    width: 40%;
} 
.Logement-introduction_host-photo {
    width: 35%;
    border-radius: 50%;
} 
.Logement-details > * {
    width: 45%;
}
.Logement-details * {
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .carousel {
        margin-bottom: 15px;
    }
    .Logement-introduction {
        flex-direction: column;
    }
    .Logement-introduction_infos {
        padding-bottom: 16px;
        gap: 10px;
    }
    .Logement-introduction_infos-title {
        font-size: 18px;
    }
    .Logement-introduction_infos-location {
        font-size: 14px;
    }
    .Logement-introduction_hostnrate {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16.5px;
    }
    .Logement-introduction_host-name {
        font-size: 12px;
        width: 30%;
    } 
    .Logement-introduction_host-photo {
        width: 17%;
    } 
    .Logement-details {
        flex-direction: column;
        gap: 20px;
    }
    .Logement-details > * {
        width: 100%;
    }
    .Logement-details .collapse-button_text {
        font-size: 13px;
    }
    .Logement-details .collapse-content_text * {
        font-size: 12px;
    }
}